{! import('mdLtLogin', 'LtStyleLogin.css') !}

<div class="container">
    <div class="form-container">
      <div class="card card-reset p-4">
        <div class="card-body">
          <h4 class="card-title text-center mb-4">Set a new password</h4>

          <!-- Form Start -->
          <form id="frmActivate">
            <div class="mb-3">
              <label for="newPassword" class="form-label text-secondary fw-medium">Password *</label>
              <input type="password" id="newPassword" name="newPassword" placeholder="Enter Password" class="form-control" required>
            </div>

            <div class="mb-3">
              <label for="confirmPassword" class="form-label text-secondary fw-medium">Confirm Password *</label>
              <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password" class="form-control" required>
              <div class="row mt-2">
                <div id="PWMATCH" class="col-12 d-none">
                  <span id="pwmatch" class="bi bi-x" style="color:#FF0004;"></span> Passwords Match
                </div>
              </div>
            </div>
            <div class="form-check mb-3">
                 <input type="hidden" name="profileId" id="profileId" value="<?= $user_id ?>">
                <input class="form-check-input" type="checkbox" id="showPassword">
                <label class="form-check-label" for="showPassword">Show Passwords</label>
              </div>

            <div class="d-grid gap-2">
              <button id="setPassword" class="btn btn-success btn-block">
                Reset
              </button>
            </div>
          </form>
          <!-- Form End -->
        </div>
      </div>
    </div>
  </div>
  
  
  <script>
    
    const currentUrl = window.location.href;
    const urlObj = new URL(currentUrl);
    const params = new URLSearchParams(urlObj.search);
    const tokenValue = params.get('sn');
    const userId = params.get('id');
    
    
</script>
  
  {! import('mdLtLogin', 'LtScriptLogin.js') !}  
      